SECRET=MIICXAIBAAKBgQDHVFq1cB6tgXcs43GRS9TikTWnQLgHIW1FvyhMF83zQr2zFnHmCPSqu9RR6o7E0cwfIUHtfwgQcetfYoRDMtjxI3u96QJhm+FfGPNqWqZVKkGJmksGy/zWbyi52xivRdedT//Ld8cUrHEfr0SKHfRKSWl6qaMZUzdImGOitzOBBwIDAQABAoGAHE3UG5NyJ70MiSk6xSD5d7qa3ccI2qpac97y/+sZaYN+oGF9huaap2vIeGFQKI6J55m3XNv+7ybd/0tj8I7V0xfANor7NTeKJJ0cLPMHAIBYELF2phVcfTzlpK+/xgA9eQQGMYhFc0ZaFbFb48piV30dDPq9q0j6+MIzY61JxsECQQDpo1LMV7if6snmUD5jOum20jC74LKJ3Vjp2SBUnWMucJti+JLPJRPf7SUHB8exGmqwzsooip1ZrVnbJ7HdpLTXAkEA2mhkpFk6RFRwk4C6im4Ev/MkcwmsrCChFFWNmmK2AE8marYxDayiVoTbsnty3HrAFevIqbx+Nm/ccN1eJwnfUQJAbHUT36YtH5dnqFHB1GCp0+OZGe5CEzu8pbnUh1MUkp9VkskfpadppX65vJzA95byxicIs289gj61wsWXjPODuwJBAMc9HjpS73Vv9jaI4yLvFEQqwSB0PeHT7j3HgeLJk7AahDgqtfr8dicpEeXy+agqDlqw+h/lRNnSF62aM463UdECQAGlf6lDuI21r3VmTa938RxbzHw8V/8yAora0b6UyuGZ4RUBG/9tXgmmM073QUBzAxZer/3fKmrCSqEUb2LzuE0=
MONGODB_URL=database_connection_string
PORT=porta_do_projeto